* {
    margin: 0;
    padding: 0;
    font-family: "Arial", serif;
}

.main_box {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.main_box .head_box .text_box {
    display: flex;
    justify-content: center;
    font-size: 5vh;
    text-align: center;
}

.main_box .table_box .table_body {
    display: grid;
    justify-content: center;
}
.main_box .table_box .table_body tbody {
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh;
}

.main_box .table_box .table_body tbody .row-box {
    display: grid;
    grid-template-columns: 10lvh 10vh 10vh 10vh;
}

.main_box .table_box .table_body tbody .row-box td {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    border: 1px solid black;
    font-size: 5vh;
    margin: 2px;
}

.main_box .bottom_box .button_buddy {
    display: flex;
    justify-content: center;
}

.main_box .bottom_box .button_buddy .button {
    width: 18vh;
    height: 9vh;
    font-size: 5vh;
}
.main_box .table_box .table_body tbody .row-box td input {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, serif;
    height: 100%;
    width: 100%;
    border: none;
    font-size: 5vh;
    text-align: center;
}
